.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.logos-slide {
    display: flex;
    flex-wrap: nowrap;
    width: calc(250px * 8);
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 4));
    }
}
